{% extends 'zoo_animal_feeders/base.html' %}

{% block header %}
  <h2>{{ animal_type }}</h2>
{% endblock header %}


{% block content %}
  <p><a href="{% url 'zoo_animal_feeders:new_animal' animal_type.id %}">add new animal</a></p>
  
  {% for animal in animals %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>
          {{ animal.name }}
          <small>
            <a href="{% url 'zoo_animal_feeders:animal' schedule.id %}">see schedule</a>
            <a href="{% url 'zoo_animal_feeders:edit_animal' animal.id %}">edit animal</a>
          </small>
        </h3>
      </div>
      <div class="panel-body">
        {{ animal.text|linebreaks }}
      </div>
    </div>
  {% empty %}
    <li>There are no animals for this animal type yet.</li>
  {% endfor %}

{% endblock content %}