{% extends 'zoo_animal_feeders/base.html' %}

{% block header %}
  <h2>{{ animal }}</h2>
{% endblock header %}

{% block content %}
  <p>Schedule:</p>
  {% for s in schedules %}
  <!--None of this will render bc if you add a schedule it doesn't actually add a schedule-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>
          <small>
            <a href="{% url 'zoo_animal_feeders:edit_schedule' schedule.id %}">edit schedule</a>
          </small>
        </h3>
      </div>
      <div class="panel-body">
        <!--This is where I need to add the checkboxes that you can check and stay checked until midnight each night-->
        <ul>
          {% if s.breakfast == True %}
            <li>Breakfast has been served!</li>
          {% endif %}
          {% if s.lunch == True %}
            <li>Lunch has been served!</li>
          {% endif %}
          {% if s.dinner == True %}
            <li>Dinner has been served!</li>
          {% endif %}
        </ul>
      </div>
    </div>
  {% empty %}
  <!--so basically I have to default every animal and force them to eat breakfast, lunch, AND dinner

  <p><a href="{% url 'zoo_animal_feeders:new_schedule' animal.id %}">add schedule</a></p>-->

  <!--I couldn't figure out how to create a schedule object that would produce a checkbox form that persists on the page.-->
    
  <!--This is here just because I needed to produce some checkboxes atleast, I couldn't actually get the entire thing to work-->
    <div>
      <input id= "breakfast" type="checkbox" name="breakfast"/>
      <label for="breakfast">Breakfast</label>
    </div>
    <div>
      <input id= "lunch" type="checkbox" name="lunch">
      <label for="Lunch">Lunch</label>
    </div>
    <div>
      <input id= "Dinner" type="checkbox" name="Dinner">
      <label for="Dinner">Dinner</label>
    </div>
  {% endfor %}

{% endblock content %}