{% extends 'zoo_animal_feeders/base.html' %}

{% block header %}
  <h2>{{ animal }}</h2>
{% endblock header %}

{% block content %}
  <p>Schedule:</p>
  <p><a href="{% url 'zoo_animal_feeders:new_schedule' animal.id %}">add schedule</a></p>
  {% for schedule in schedules %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>
          <small>
            <a href="{% url 'zoo_animal_feeders:edit_schedule' schedule.id %}">edit schedule</a>
          </small>
        </h3>
      </div>
      <div class="panel-body">
        <!--This is where I need to add the checkboxes that you can check and stay checked until midnight each night-->
        <!--{{ schedule.breakfast }}
        {{ schedule.lunch }}
        {{ schedule.dinner }}-->
      </div>
    </div>
  {% empty %}
    <li>There are no schedules for this animal yet.</li>
  {% endfor %}

{% endblock content %}