{% extends 'zoo_animal_feeders/base.html' %}

{% block header %}
  <h2>{{ animal }}</h2>
{% endblock header %}

{% block content %}
  <p>Schedule:</p>
  <p><a href="{% url 'zoo_animal_feeders:new_schedule' animal.id %}">add new schedule</a></p>
  {% for schedule in schedules %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>
          <small>
            <a href="{% url 'zoo_animal_feeders:edit_schedule' animal.id %}">edit schedule</a>
          </small>
        </h3>
      </div>
      <div class="panel-body">
        <!--I need to edit the schedule right here so that it could reset everyday.-->
        {{ schedule }}
      </div>
    </div>
  {% empty %}
    <li>There are no schedules for this animal yet.</li>
  {% endfor %}

{% endblock content %}